.chat {
  height: -webkit-fill-available;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.firstContainer {
  background-color: white;
  width: 35%;
  padding: 1rem;

  h2 {
    font-size: 1.2rem;
  }

  hr {
    margin: 0.5rem 0 1rem 0;
  }

  .usersContainer {
    display: flex;
    flex-wrap: wrap;
    
    .aUser {
      background-color: var(--background);
      border-radius: 0.75rem;
      padding: 0.5rem;
      margin-right: 0.5rem;

      width: max-content;

      .imageContainer {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: relative;
        margin: auto;

        img {
          border-radius: 50%;
        }

        .isOnline {
          border-radius: 50%;

          width: 12px;
          height: 12px;

          position: absolute;
          top: 0;
          right: 0;
          border: solid 2px white;
        }
      }

      .name {
        font-size: 0.85rem;
      }
    }
  }
}

.secondContainer {
  background-color: white;
  width: 64%;

  display: flex;
  flex-direction: column-reverse;

  .newMessageContainer {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--gray-2);
    padding: 0.5rem;
    height: 25%;

    textarea {
      resize: none;
      position: relative;
      padding: 0.75rem;
      font-size: 1rem;
      transition: 300ms;
      height: -webkit-fill-available;
  
      border: none;
      
      &:focus {
        outline: none;
      }
  
      &::-webkit-scrollbar-track {
        background-color: #F4F4F4;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
      }
      &::-webkit-scrollbar-thumb {
        background: #dad7d7;
      }    
    }

    button {
      width: max-content;
      align-self: flex-end;
      background-color: var(--default-blue);
      padding: 0.4rem 1.5rem;
      color: white;
      border: none;
      border-radius: 0.2rem;

      &:disabled {
        opacity: 0.5;
      }
    }    
  }

  .messages {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .aMessage {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      .info {
        display: flex;
        align-items: center;

        .imageContainer {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          overflow: hidden;
        }

        .content {
          background-color: var(--default-blue);
          padding: 0.5rem;
          border-radius: 0.5rem;
          color: white;
        }
      }

      .createdOn {
        opacity: 0.5;
        font-size: 0.75rem;
        align-self: flex-start;
        margin-top: 0.2rem;
      }
    }
  }

}