.chat {
  border: solid 1px red;
  height: -webkit-fill-available;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.firstContainer {
  background-color: white;
  width: 35%;
  padding: 1rem;

  h2 {
    font-size: 1.2rem;
  }

  hr {
    margin: 0.5rem 0 1rem 0;
  }

  .usersContainer {
    display: flex;
    flex-wrap: wrap;
    
    .aUser {
      background-color: var(--background);
      border-radius: 0.75rem;
      padding: 0.5rem;
      margin-right: 0.5rem;

      width: max-content;

      .imageContainer {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: relative;
        margin: auto;

        img {
          border-radius: 50%;
        }

        .isOnline {
          border-radius: 50%;

          width: 12px;
          height: 12px;

          position: absolute;
          top: 0;
          right: 0;
          border: solid 2px white;
        }
      }

      .name {
        font-size: 0.85rem;
      }
    }
  }
}

.secondContainer {
  background-color: white;
  width: 64%;

  display: flex;
  flex-direction: column-reverse;

  .newMessageContainer {
    border: solid 1px red;
    height: 15%;

    .cursor {
      
    }
  }

  .messagesContainer {
    border: solid 1px red;
  }
}