.title {
  margin: 3rem 0 1rem;  

}

.post {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;

  header {
    display: flex;
    align-items: center;

    .profilePictureContainer {
      border-radius: 50%;

      height: 3rem;
      width: 3rem;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;
      margin-right: 0.75rem;

      .profilePicture {
        //height: 2.5rem;
        width: 100%;
      }
    }
  }

  hr {
    opacity: 0.5;
    margin: 0.5rem 0;
  }

  section {
    margin-top: 0.5rem;
  }

  footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    div {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    svg {
      font-size: 1.5rem;
      cursor: pointer;
    }

  }
}

.username {
  font-size: 1.1rem;
  color: var(--gray-4);
}