.postContainer {
  background-color: white;
  padding: 1.5rem;

  line-break: anywhere;

  border-radius: 0.5rem;

  > h2 {
    font-size: 1.2rem;
  }
  
  hr {
    margin: 1rem 0 1.5rem 0;
  }

  input {
    background-color: var(--background);
    border: none;
    padding: 0.75rem 1.5rem;
    width: 100%;;
    border-radius: 0.25rem;
    transition: all 0.5s;
  }

  textarea {
    background-color: var(--background);
    border: none;
    padding: 0.75rem 1rem;
    width: 100%;;
    border-radius: 0.25rem;
    transition: all 0.5s;
    min-height: 12rem;
  }

  .allIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      display: flex;
    }

    align-items: center;
    margin-top: 2rem;

    button {
      border: none;
      background-color: var(--default-blue);
      color: white;
      padding: 0.5rem 2rem;
      border-radius: 0.1rem;

      &:disabled {
        background-color: #768fbf;
        cursor: not-allowed;
      }
    }
  }

  .iconContainer {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--background);

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1rem;

    svg {
      width: 1.7rem;
      height: 1.7rem;
      color: var(--default-blue);
    }
  }
}