.profileContainer {
  width: 70vw;

  @media (max-width: 901px) {
    width: 100%;
  }

  .userHeader {
    background: white;
    margin: -1rem;
    

    .cover {
      background-color: rgb(0, 94, 170);
      min-height: 150px;
      position: relative;

      .editIconContainer {
        background: white;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
        width: 2rem;
        height: 2rem;
        
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;

        cursor: pointer;

        svg {
          font-size: 1.5rem;
        }
      }
    }

    .profileInfo {
      padding-bottom: 2rem;
      padding: 0 1rem 1rem 1rem;

      display: flex;
      justify-content: space-between;

      .firstContainer {
        
        .containInfo {
          display: flex;
          align-items: center;

          .username {
          }
          .userPicture {
            width: max-content;
            margin-right: 1rem;
            height: 3.5rem;
    
            .profileImageContainer {
              border: solid 5px white;//var(--background);
              border-radius: 50%;
              width: 7rem;
              height: 7rem;
              overflow: hidden;
        
              display: flex;
              align-items: center;
              justify-content: center;
              
              position: relative;
              top: -3.5rem;
            }
          }
        }

        .action {
          display: flex;
          align-items: center;

          svg {
            font-size: 1.2rem;
            color: var(--default-blue);
            margin: 0 0.3rem 0 0;
          }

          strong {
            margin: 0 0.3rem 0 0;
          }

          span {
            color: gray;
          }
        }

        .columnOption {
          margin: 0.5rem 0 0 0;
        }

        .bio {

        }

        .userCreatedOn {
          color: gray;

        }
      }

      .secondContainer {
        display: flex;
        align-items: center;
        justify-content: center;

          @media (max-width: 991px) {
            align-items: flex-end;
          }

        .actionBtn {
          color: white;
          border: none;
          font-size: 1rem;

          padding: 0.5rem 1.5rem;
          border-radius: 0.25rem;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }

          @media (max-width: 991px) {
            display: flex;
          }
        }

        .followBtn {
          background-color: var(--default-blue);
        }

        .unFollowBtn {
          background-color: rgb(224, 224, 224);
          border: solid 1px var(--gray-2);
          color: black;
        }
      }


    }

  }

  > section {

    h2 {
      margin-top: 4rem;
    }

    > hr {
      margin: 0.5rem 0 0 0;
    }

    .loadingIcon {
      font-size: 2rem;
      margin-top: 1rem;
    }

    .notHavePosts {
      margin: 2rem 0 0 0;
      font-size: 1.5rem;
      border-left: solid 2px var(--gray-4);
      padding-left: 1rem;
      background-color: rgba(255, 255, 255, 0.596);
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
}
