.profileContainer {
  width: 70vw;

  @media (max-width: 901px) {
    width: 100%;
  }

  > header {
    background-color: white;
    
    border-radius: 0.5rem;

    margin: 1rem 0 0 1rem;
    padding: 1rem;

    @media (max-width: 901px) {
      margin: 2rem 0 0 0;
    }

    .title {
      display: flex;

      .imageContainer {
        margin-right: 1rem;
        height: 7rem;
        width: 7rem;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;

        img {
          border-radius: 50%;
        }
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .username {
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
      }
  
      .followButton > button {
        background-color: var(--default-blue) !important;
        color: white !important;
        border: none;

        &:hover {
          filter: brightness(0.95);
        } 
      }

      .unFollowButton > button {
        padding: 0.5rem 2.5rem;
        font-size: 1rem;
        border: solid 1px rgb(0, 0, 0, 0.3);
      }

      .unFollowButton > button, .followButton > button {
        border-radius: 0.5rem;
        transition: all 200ms;
        padding: 0.5rem 2.5rem;

        display: flex;
        align-items: center;

        font-weight: 400;

        svg {
          width: 1.3rem;
          height: 1.3rem;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      
    }

    hr {
      margin: 1rem 0 0;
    }

    .bottomContent {
      display: flex;
      margin-top: 1rem;
      color: var(--gray-4);

      .iconContainer {
        display: flex;
        align-items: center;
        margin-right: 0.85rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  > section {
    padding: 1rem;

    h2 {
      margin-top: 2rem;
    }

    > hr {
      margin: 1rem 0 0 0;
    }

    .loadingIcon {
      font-size: 2rem;
      margin-top: 1rem;
    }

    .notHavePosts {
      margin: 2rem 0 0 0;
      font-size: 1.5rem;
      border-left: solid 2px var(--gray-4);
      padding-left: 1rem;
      background-color: rgba(255, 255, 255, 0.596);
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
}