* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --default-blue: #2F5BAC;
  --background: #F0F2F5;
  
  --gray-1: #AEB7C3;
  --gray-2: #707070;
  --gray-3: #EAEAEA;
  --gray-4: #5A5A5A;
  
  --online: #00AB26;
  --offline: #E90000;
  
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}


body {
  background: var(--background);
  overflow-x: hidden;
}

body, input, textarea, select, button {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

hr {
  opacity: 0.3;
}

img {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#main-container {
  display: flex;
  padding: 1rem;
  height: -webkit-fill-available;
}

#home_main_feed {
  @media (max-width: 991px) {
    width: 100%;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;

  color: var(--default-blue);

  @keyframes loading {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }

  svg {
    transition: all 200ms;
    animation-name: loading;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.color-red {
  color: red;
}

.color-blue {
  color: var(--default-blue);
}