.feed {
  width: 70vw;
  margin-top: 3rem;
  
  .notHavePosts {
    font-size: 2rem;
    color: var(--gray-2);
    padding: 2rem 1rem;
    text-align: center;
  }

  .spin {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .division {
    opacity: 0.5;
    margin: 1rem 0;
  }

  .loadingContainer {
    font-size: 2.5rem;
  }
  
  .loadMorePosts {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    button {
      border: none;
      padding: 0.8rem 2.5rem;
      background: var(--default-blue);
      color: white;
      border-radius: 0.2rem;
      font-size: 0.85rem;
      transition: all 300ms;
      font-weight: 400;

      svg {
        margin-left: 0.5rem;
        font-size: 1rem;
      }

      &:hover {
        filter: brightness(0.9);
      }

      &:disabled {
        opacity: 0.7;
        cursor: default;
        filter: brightness(1) !important;
      }
    }
  }

  @media (max-width: 901px) {
    width: 100%; 
  }
}
