.container {
  background-color: white;

  border-radius: 0.5rem;

  margin: 1rem;
  padding: 1rem;

  height: 100vh;
  width: 30vw;

  hr {
    opacity: 0.5;
    margin-top: 0.5rem;
  }
}

.user {
  width: 100%;
  
  background-color: var(--gray-3);

  border-radius: 1rem;

  padding: 0.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;

  > div {
    display: flex;
    align-items: center;

    img {
      height: 2rem;
    }

    > div {
      margin-right: 0.5rem;
      font-weight: 600;
    }
  }
  span {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: var(--online);
  }
}