.profileContainer {
  width: 70vw;

  @media (max-width: 901px) {
    width: 100%;
  }

  > header {
    background-color: white;
    
    border-radius: 0.5rem;

    margin: 1rem 0 0 1rem;
    padding: 1rem;

    @media (max-width: 901px) {
      margin: 2rem 0 0 0;
    }

    .title {
      display: flex;

      .imageContainer {
        margin-right: 1rem;
        height: 7rem;
        width: 7rem;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .username {
        font-size: 1.75rem;
        margin-bottom: 0.75rem;
      }
  
      .followButton > button {
        border: none;
        background-color: var(--default-blue);
        color: white;
        padding: 0.35rem 2.5rem;
        border-radius: 0.5rem;
        transition: all 200ms;
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        svg {
          width: 1.3rem;
          height: 1.3rem;
        }
  
        &:hover {
          filter: brightness(0.9);
        }
      }
      
    }

    hr {
      opacity: 0.5;
      margin: 1rem 0 0;
    }

    .bottomContent {
      display: flex;
      margin-top: 1rem;
      color: var(--gray-4);

      .iconContainer {
        display: flex;
        align-items: center;
        margin-right: 0.85rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  > section {
    padding: 1rem;

    h2 {
      margin-top: 2rem;
    }

    > hr {
      opacity: 0.4;
      margin: 1rem 0 0 0;
    }

    .loadingIcon {
      font-size: 2rem;
      margin-top: 1rem;
    }

    .notHavePosts {
      margin: 2rem 0 0 0;
      font-size: 1.5rem;
      border-left: solid 2px var(--gray-4);
      padding-left: 1rem;
      background-color: rgba(255, 255, 255, 0.596);
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
}