.title {
  margin: 3rem 0 1rem;  

}

.post {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;

  > header {
    display: flex;
    align-items: center;

    .profilePictureContainer {
      border-radius: 50%;

      height: 2rem;
      width: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;
      margin-right: 0.75rem;

      img {
        border-radius: 50%;
      }
    }

    .username {
      font-size: 1.05rem;
      font-weight: 400;
    }
  }

  > hr {
    opacity: 0.2;
    margin: 1rem 0;
  }

  > section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: solid 2px var(--gray-1);
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f7ff;
    padding: 0.75rem;
    border-radius: 0.5rem;
    
    > div {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .publicationDate {
      opacity: 0.7;
      font-size: 0.85rem;
    }
    

    .like, .dislike {
      transition: all 400ms;
      opacity: 0.8;
      cursor: pointer;
      margin-right: 1rem;
      
      display: flex;
      align-items: center;  

      > div {
        display: flex;
        align-items: center;        
      }

      &:hover {
        opacity: 1;
      }

      svg {
        font-size: 1.35rem;
      }
    }

    .like {
      svg {
        color: blue;
      }
    }

    .dislike {
      svg {
        color: red;
      }
    }

    .comments {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: 0.5rem;

      cursor: pointer;

      svg {
        font-size: 1.35rem;
        color: var(--gray-4);
        margin-right: 0.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

  }
}
