.feed {
  width: 70vw;
  padding: 5rem 0 0 0;

  .loadingContainer {
    font-size: 2.5rem;
  }
  
  .loadMorePosts {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    button {
      border: none;
      padding: 0.8rem 2.5rem;
      background: var(--default-blue);
      color: white;
      border-radius: 0.2rem;
      font-size: 0.85rem;
      transition: all 300ms;
      font-weight: 500;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  @media (max-width: 901px) {
    width: 100%; 
  }
}
